<div class="main-wrapper">
  <div class="main-title">Список дел</div>
  <ul>
    <li *ngFor="let item of items">
      <app-item (remove)="remove(item)"
                [item]="item"></app-item>
    </li>
  </ul>

  <div class="wrapper_addto">
    <label id="addItemInput_label" for="addItemInput">Добавить в список</label>

    <input #newItem
           placeholder="текст задачи..."
           (keyup.enter)="addItem(newItem.value); newItem.value = ''"
           class="lg-text-input"
           id="addItemInput" />
  </div>

  <button class="button"
          (click)="addItem(newItem.value)">Добавить
  </button>
</div>